<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Xhoppi - Visualizar Loja</title>
</head>

<body>
    <footer class="rodape">
        <div class="container-rodape">
            <section class="secao-rodape">
                <h3>ATENDIMENTO AO CLIENTE</h3>
                <ul>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Como Comprar</a></li>
                    <li><a href="#">Métodos de Pagamento</a></li>
                    <li><a href="#">Garantia Xhopii</a></li>
                    <li><a href="#">Devolução e Reembolso</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Ouvidoria</a></li>
                </ul>
            </section>

            <section class="secao-rodape">
                <h3>SOBRE A XHOPII</h3>
                <ul>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Políticas Xhopii</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Programa de Afiliados da Xhopii</a></li>
                    <li><a href="#">Seja um Entregador Xhopii</a></li>
                    <li><a href="#">Ofertas Relâmpago</a></li>
                    <li><a href="#">Xhopii Blog</a></li>
                    <li><a href="#">Imprensa</a></li>
                </ul>
            </section>

            <section class="secao-rodape">
                <h3>PAGAMENTO</h3>
                <div class="icones-pagamento">
                    <img src="../assets/img/logo-pix.png" alt="Pix">
                    <img src="../assets/img/logo-boleto.png" alt="Boleto">
                    <img src="../assets/img/logo-american-express.png" alt="American Express">
                    <img src="../assets/img/logo-visa.png" alt="Visa">
                    <img src="../assets/img/logo-mastercard.png" alt="Mastercard">
                    <img src="../assets/img/logo-hipercard.png" alt="Hipercard">
                    <img src="../assets/img/logo-elo.png" alt="Elo">
                </div>
            </section>

            <section class="secao-rodape">
                <h3>SIGA-NOS</h3>
                <ul class="redes-sociais">
                    <li><a href="#"><img src="../assets/img/logo-instagram.png" alt="Instagram"> Instagram</a></li>
                    <li><a href="#"><img src="../assets/img/logo-twitter.png" alt="Twitter"> Twitter</a></li>
                    <li><a href="#"><img src="../assets/img/logo-facebook.png" alt="Facebook"> Facebook</a></li>
                    <li><a href="#"><img src="../assets/img/logo-youtube.png" alt="YouTube"> YouTube</a></li>
                    <li><a href="#"><img src="../assets/img/logo-linkedln.png" alt="LinkedIn"> LinkedIn</a></li>
                </ul>
            </section>

            <section class="secao-rodape">
                <h3>ATENDIMENTO AO CLIENTE</h3>
                <div class="codigo-qr">
                    <img src="../assets/img/qr-code.png" alt="QR Code">
                </div>
                <div class="links-aplicativo">
                    <img src="../assets/img/logo-google-play.png" alt="Google Play">
                    <img src="../assets/img/logo-store-apple.png" alt="App Store">
                </div>
            </section>
        </div>

        <div class="direitos-autorais">
            <p>&copy; 2023 Xhopii. Todos os direitos acadêmicos reservados</p>
        </div>
    </footer>
</body>

</html>